/* Body */
body {
	background-color: #eee;
	color: #ffffff;
}
.nav-h {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.link > a {
	color: #fff;
	padding: 25.1px 20px;
	border-top: 4px solid #fff;
	background-color: #337ab7;
	text-decoration: none;
}

/* Blog Body CSS */
.blog-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.blog-body {
  font-family: "Open Sans", sans-serif;
}
.h4-blog-main {
	color: #aeaeae;
	font-style: italic;
	font-weight: lighter;
}
.h4-blog-pinned {
	color: #ffffff;
	font-style: italic;
	font-weight: lighter;
}
.pull-left {
	float: left;
}

/* Custom Jumbotron */
.pinned {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border: 0px;
  color: inherit;
  background-color: #286090;
}
.pinned h1,
.pinned .h1 {
  color: inherit;
}
.pinned p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.pinned > hr {
  border-top-color: #d5d5d5;
}
.container .pinned,
.container-fluid .pinned {
  border-radius: 0px;
}
.pinned .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .pinned {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .container .pinned,
  .container-fluid .pinned {
    padding-right: 60px;
    padding-left: 60px;
  }
  .pinned h1,
  .pinned .h1 {
    font-size: 63px;
  }
}
/* Custom Navbar BG */
.navigation {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border: 0px;
  color: inherit;
  background-color: #286090;
}
.navigation h1,
.navigation .h1 {
  color: inherit;
}
.navigation p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.navigation > hr {
  border-top-color: #d5d5d5;
}
.container .navigation,
.container-fluid .navigation {
  border-radius: 0px;
}
.navigation .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .navigation {
    padding-top: 0.1px;
    padding-bottom: 16px;
    border-bottom: 4px solid #1d405e;
  }
  .container .navigation,
  .container-fluid .navigation {
    padding-right: 60px;
    padding-left: 60px;
  }
  .navigation h1,
  .navigation .h1 {
    font-size: 63px;
  }
}