body {
  font-family: 'Open Sans', sans-serif;
  background-color:  #f1f1f1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: lighter;
}

.wrapper {
  font-size: 1.1em;
  padding: 150px;
  background-color: #f1f1f1;
  margin: 0 auto;
}

/* Contact Form MAIN */

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;

  }

  #contact-form {
    width: 920px;
    margin: 0 auto;
  }

  #contact form .center {
    margin: 0 auto;
  }

  #contact form .left {
    float: left;
    margin-right: -20px;
  }

  #contact form .right {
    float: right;
    margin-left: -20px;
  }

  #contact form .field {
    background: #fff;
    margin-top: -20px;
    width: 48.9%;
    margin-bottom: 40px;
    padding: 16px;
  }

  #contact form div div label {
    font-family: "Open Sans";
    font-size: 18px;
    color: #fff;
    width: 27%;
    display: block;
    float: left;
    line-height: 23px;
  }

  .textarea {
    background: #fff;
    width: 100%;
    padding-right: 500px;
    margin-bottom: 20px;
    padding: 40px;
  }

  .textarea label {
    font-family: "Open Sans";
    font-size: 18px;
    color: #222;
    display: block;
    margin-bottom: 10px;
  }
  #name {
    margin-left: 20px;
  }

  #email {
    margin-left: 20px;
  }

  #project {
    margin-left: 20px;
  }

  #budget {
    margin-left: 20px;
  }

  .select {
    overflow: hidden;
    background: #fff;
    background-size: 14px 7px;
  }

  input, select {
    font-family: "Open Sans";
    -webkit-border-radius: 0px;
    font-size: 18px;
    font-weight: lighter;
    float: left;
    border: 0;
    padding: 0;
    margin: 0;
    width: 70%;
    line-height: 23px;
    outline: none;
    color: #333;
  }

  #contact-submit {
    background: 0;
    margin: 0 auto;
    color: #222;
    cursor: pointer;
    width: 30%;
    font-weight: bolder;
    font-size: 18px;
    line-height: 50px;
    margin: 0 auto;
    float: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }

  .outline-btn {
    border: 2px solid #222;
  }

/*/