body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: lighter;
}

.wrapper {
  font-size: 1.1em;
  margin: 0 auto;
}

/* Navbar START */
.navbar-default {
  margin-bottom: 0px;
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
  box-shadow: none;
  border: none;
}

@media(min-width:767px) {
    .navbar {
        padding: 40px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 20px;
    }
}

.navbar-brand {
  margin-right: 15px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-text {
  margin-right: 20px;
}

.navbar-default 
.navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0,0,0, 0.3);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
/* Navbar END */

/* Header START */
.header {
  display: block;
  position: relative;
  padding: 300px 0px;
  background: none;
  color: #ffffff;
}

.header h2 {
  text-align: center;
  vertical-align: middle;
}
/* Header END */

/* Contact START */
.contact {
  display: block;
  position: relative;
  padding: 95px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #222222;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5)
}

.contact h2 {
  text-align: center;
  vertical-align: middle;
}

.contact h4 {
  width: 400px;
  vertical-align: middle;
  margin-bottom: 30px;
}

@media (min-width: 100px) {
  .contact h4 {
    margin: 0 auto;
    width: 150px
  }
}

@media (min-width: 400px) {
  .contact h4 {
    margin: 0 auto;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .contact h4 {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .contact h3 {
    font-size: 1.8em;
  }
}

@media (min-width: 100px) {
  .contact h3 {
    font-size: 1.2em;
  }
}

@media (min-width: 400px) {
  .contact h3 {
    font-size: 1.2em;
  }
}

@media (min-width: 100px) {
  .contact h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 400px) {
  .contact h2 {
    font-size: 2em;
  }
}

/* Contact END */

/* Footer START */
.footer {
  padding: 40px;
  background-color: #222222;
  color: #ffffff;
}

.footer p {
  text-align: center;
  vertical-align: middle;
}
/* Footer END */

/* iFrame */
@media (min-width: 100px) {
  iframe {
    margin-left: -45px;
    width: 200px;
  }
}
@media (min-width: 400px) {
  iframe {
    margin-left: -45px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  iframe {
    width: 100%;
  }
}
/* iFrame */
