a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

h1,h2, h3, h4, h5, h6 {
  font-weight: lighter;
}
.sorry {
  padding-top: 250px;
  padding-bottom: 250px;
  margin: 0 auto;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  background-color: #eee;
  color: #000;
}
body {
  color: #000;
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
p {
  font-size: 1.3em;
}

.btn-dark {
    border-radius: 20px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #000;
    background-color: rgba(255,255,255,0.7);
}
.twitter-timeline {
  margin-top: 100px;
  padding: 40px 10px;
  color: #fff;
  font-weight: lighter;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
  box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin: 0 auto;
}
.bg-primary {
  background-color: #f05f40;
}

/* Padding for spacing */
.inner {
  padding: 25px;
}
.lead {
  font-weight: lighter;
}
.section-lbs {
  margin-top: 100px;
  padding: 50px 10px;
  margin-right: 800px;
  margin-left: 800px;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  font-weight: lighter;
  background-image: url(../img/lbs.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
  box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}
.home {
  padding: 100px;
  background-color:
  #f05f40; 
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  font-size: 16px;
  font-weight: bolder;
  color: #818181; /* IE8 proofing */
  border-bottom: transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #000;
  border-bottom-color: #a9a9a9;
  border-bottom-color: #eee;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: lighter;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container { /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
  }
}