/* Copyright Jack Earsman */
/* Coded and designed by Jack Earsman */

/* Applied font */
body {
	font-family: 'Quicksand', sans-serif;
}

/* Imported font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

.text-sub {
	margin-bottom: 5px;
	letter-spacing: 10pt;
	margin-left: -3.5px;
	font-size: 1em;
	opacity: 0.5;
	font-weight: bold;
}

