.wrapper {
  position: relative;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-linear-gradient(270deg, #2d2d2d, #2d2d2d), url('../images/example-bg.png');
  background-image: linear-gradient(180deg, #2d2d2d, #2d2d2d), url('../images/example-bg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 125px;
}

.body {
  height: 1005px;
}

.header {
  padding: 100px;
}

.header-head {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  line-height: 38px;
}

.text-span {
  color: #00ff42;
}

.green {
  font-family: Lato, sans-serif;
  color: #00ff42;
  font-style: italic;
}

.emphasized-text {
  font-family: Lato, sans-serif;
}

.important-text {
  font-family: 'Varela Round', sans-serif;
}

.about {
  padding: 100px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 22px 50px -11px rgba(0, 0, 0, .46);
}

.about.projects {
  text-align: left;
}

.heading {
  min-width: 0px;
  margin-right: 50px;
  font-family: 'Varela Round', sans-serif;
  line-height: 35px;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgba(51, 51, 51, .8);
}

.paragraph-2 {
  padding-top: 25px;
  padding-left: 25px;
  color: rgba(51, 51, 51, .56);
}

.emphasized-text-2 {
  overflow: hidden;
}

.work {
  padding: 100px;
  color: #fff;
}

.column {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.image {
  box-shadow: 1px 1px 3px 0 #000;
}

.image-2 {
  border-radius: 10px;
  box-shadow: 0 9px 31px 0 rgba(0, 0, 0, .2);
}

.image-3 {
  border-radius: 10px;
  box-shadow: 0 9px 31px 0 rgba(0, 0, 0, .2);
}

.row {
  margin-top: 0px;
  text-align: center;
}

.container-2 {
  margin-top: 50px;
  padding-top: 0px;
}

.image-4 {
  border-radius: 10px;
}

.image-5 {
  border-radius: 10px;
}

.navbar {
  position: relative;
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #00ff42;
  background-image: -webkit-linear-gradient(270deg, #2d2d2d, #2d2d2d);
  background-image: linear-gradient(180deg, #2d2d2d, #2d2d2d);
  color: hsla(0, 0%, 100%, 0);
}

.nav-link {
  font-family: 'Varela Round', sans-serif;
  color: hsla(0, 0%, 100%, .5);
}

.nav-link.active {
  position: static;
  margin-top: 0px;
  padding-top: 20px;
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #0eff00;
  color: #fff;
}

.nav-link.navbar-link {
  color: hsla(0, 0%, 100%, .5);
}

.button {
  margin-top: 15px;
  padding: 5px 26px 5px 25px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(277deg, #00ff42, #00d236);
  background-image: linear-gradient(173deg, #00ff42, #00d236);
  box-shadow: 0 12px 31px -7px rgba(0, 0, 0, .3);
  -webkit-transition: margin 160ms ease;
  transition: margin 160ms ease;
  color: #fff;
}

.button.button-projects {
  margin-top: -60px;
}

.button.button-projects {
  margin-top: 0px;
}

.button.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  margin-top: 0px;
}

.button-2 {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-top: 50px;
  padding: 5px 35px;
  text-align: center;
}

.button-2.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  opacity: 1;
}

.container-3 {
  text-align: center;
}

.div-block {
  padding: 100px;
}

.heading-2 {
  margin-bottom: 25px;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.text-field {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.text-field.image-2 {
  padding: 25px;
}

.text-field-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.text-field-2.image-2 {
  padding: 25px;
}

.textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.textarea.image-2 {
  margin-top: 0px;
  padding: 25px;
}

.form {
  text-align: center;
}

.submit-button {
  display: block;
}

.submit-button.button {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.links {
  padding: 0px 100px 100px;
}

.heading-3 {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.text-span-2 {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-3 {
  color: hsla(0, 0%, 100%, .13);
  font-style: italic;
}

.container-4 {
  margin-top: 50px;
}

.image-7 {
  border-radius: 10px;
}

.image-8 {
  border-radius: 10px;
}

.body-2 {
  overflow: visible;
  height: 100%;
}

.navbar-link {
  padding-right: 30px;
  padding-left: 25px;
  color: hsla(0, 0%, 100%, .5);
}

.navbar-link.active {
  padding-right: 20px;
  color: #fff;
}

.navbar-link.active.w--current {
  padding-right: 30px;
}

.daily-ui {
  border-radius: 10px;
  box-shadow: 0 20px 38px 1px rgba(0, 0, 0, .27);
  text-align: left;
}

.project-title {
  font-family: 'Varela Round', sans-serif;
  color: #2d2d2d;
  font-size: 35px;
  font-style: normal;
}

.column-6 {
  margin-top: 30px;
}

.button-4 {
  text-align: left;
}

.container-5 {
  text-align: right;
}

.button-5 {
  text-align: left;
}

.button-6 {
  text-align: right;
}

.row-2 {
  text-align: left;
}

.row-projects {
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px 10px 0px 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .07), rgba(0, 0, 0, .07));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .07), rgba(0, 0, 0, .07));
  text-align: center;
}

.row-projects.row-projects-2 {
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
}

.heading-4 {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.paragraph-5 {
  color: #535353;
  line-height: 0px;
}

.container-6 {
  margin-top: 100px;
}

.heading-5 {
  font-family: 'Varela Round', sans-serif;
  line-height: 38px;
}

.paragraph-6 {
  padding-top: 25px;
  padding-right: 0px;
  padding-left: 25px;
  color: rgba(51, 51, 51, .58);
}

.heading-6 {
  font-family: 'Varela Round', sans-serif;
  line-height: 38px;
}

.container-7 {
  text-align: center;
}

.container-8 {
  margin-top: 50px;
  text-align: center;
}

.container-9 {
  margin-top: 50px;
  text-align: center;
}

.container-10 {
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 991px) {
  .wrapper {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    padding: 50px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .body {
    height: 100%;
  }
  .header {
    padding-right: 50px;
    padding-left: 50px;
  }
  .about {
    padding: 50px;
    border-radius: 10px;
  }
  .heading {
    padding-right: 0px;
  }
  .paragraph {
    margin-left: 0px;
  }
  .paragraph-2 {
    padding-left: 0px;
  }
  .work {
    padding-right: 50px;
    padding-left: 50px;
  }
  .container-2 {
    margin-top: 15px;
  }
  .nav-link.navbar-link {
    color: hsla(0, 0%, 100%, .4);
  }
  .button {
    display: none;
    text-align: center;
  }
  .div-block {
    padding-right: 50px;
    padding-left: 50px;
  }
  .links {
    padding-right: 50px;
    padding-left: 50px;
  }
  .container-4 {
    margin-top: 15px;
  }
  .button-3 {
    text-align: left;
  }
  .menu-button {
    border-bottom: 0px solid #00ff42;
    border-radius: 0px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 29px;
    line-height: 0px;
    text-align: left;
    text-transform: none;
  }
  .menu-button.w--open {
    background-image: -webkit-linear-gradient(270deg, #000, #000);
    background-image: linear-gradient(180deg, #000, #000);
  }
  .icon {
    margin-top: 0px;
    font-size: 30px;
    line-height: 25px;
    font-style: normal;
  }
  .nav-menu {
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: -webkit-linear-gradient(270deg, #000, #000);
    background-image: linear-gradient(180deg, #000, #000);
    box-shadow: 0 11px 30px -7px rgba(0, 0, 0, .45);
    color: #000;
  }
  .navbar-link.active {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }
  .project-title {
    margin-top: 50px;
    font-size: 24px;
  }
  .column-6 {
    margin-top: 5px;
  }
  .paragraph-4 {
    display: none;
  }
  .row-projects {
    margin-left: 0px;
    padding-left: 0px;
  }
  .menu-button-2 {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    color: #fff;
  }
  .menu-button-2.w--open {
    background-image: -webkit-linear-gradient(270deg, #000, #000);
    background-image: linear-gradient(180deg, #000, #000);
  }
  .nav-menu-2 {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .about {
    border-radius: 10px;
  }
  .heading {
    margin-right: 0px;
    padding-bottom: 0px;
    font-size: 34px;
  }
  .work {
    padding: 50px 10px;
  }
  .column-2 {
    margin-top: 15px;
  }
  .column-3 {
    margin-top: 14px;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-title {
    margin-top: 16px;
    text-align: center;
  }
  .row-projects.row-projects-2 {
    margin-top: -45px;
    background-image: -webkit-linear-gradient(270deg, #eee, #eee);
    background-image: linear-gradient(180deg, #eee, #eee);
  }
  .column-7 {
    padding-top: 15px;
  }
  .paragraph-6 {
    padding-left: 0px;
  }
  .column-8 {
    margin-top: 50px;
  }
  .column-9 {
    padding-top: 50px;
  }
  .column-10 {
    margin-top: 50px;
  }
  .column-11 {
    margin-top: 15px;
  }
}

@media (max-width: 479px) {
  .wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-head {
    font-size: 25px;
    line-height: 27px;
  }
  .about {
    padding: 25px;
    border-radius: 10px;
  }
  .heading {
    font-size: 20px;
    line-height: 20px;
  }
  .paragraph-2 {
    display: none;
    overflow: hidden;
  }
  .work {
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  .button {
    display: none;
    overflow: visible;
  }
  .div-block {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-2 {
    font-size: 25px;
    line-height: 27px;
  }
  .links {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-3 {
    font-size: 25px;
    line-height: 27px;
  }
  .paragraph-3 {
    line-height: 0px;
  }
  .menu-button {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }
  .nav-menu {
    padding-right: 10px;
    background-image: -webkit-linear-gradient(270deg, #000, #000);
    background-image: linear-gradient(180deg, #000, #000);
    box-shadow: 0 9px 23px -5px rgba(0, 0, 0, .62);
    color: hsla(0, 0%, 100%, 0);
  }
  .project-title {
    font-size: 20px;
  }
  .row-projects {
    margin-top: 0px;
  }
  .heading-4 {
    font-size: 25px;
    line-height: 22px;
  }
  .container-6 {
    margin-top: 50px;
  }
  .heading-6 {
    font-size: 25px;
    line-height: 27px;
  }
}