.container {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  flex-flow: column;
  width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 24px;
  display: flex;
}

.title-lockup {
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  flex-flow: column;
  display: flex;
}

.text-body {
  font-size: 0.875rem;
}

.text-body.bold {
  font-weight: 500;
}

.text-body._64 {
  opacity: .64;
}

.text-body.right {
  text-align: justify;
}

.text-body.date {
  width: 256px;
}

.text-body.bold-mob {
  font-weight: 400;
}

.body {
  color: #000;
  background-color: #fafafc;
  font-family: Inter, sans-serif;
}

.description-lockup {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.icon-wrapper {
  height: 100%;
  vertical-align: middle;
  padding: 2px 0 0 12px;
}

.link {
  color: #06c;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

.link.icon {
  color: #000;
  opacity: .32;
  text-decoration: none;
  transition: all .1s ease-in-out;
  vertical-align: middle;
}

.link.icon:hover {
  opacity: 1;
}

.link:hover {
  color: #208fff;
}

._64 {
  opacity: .64;
}

._48 {
  opacity: .48;
}

.jobs-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.job-wrapper {
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  display: flex;
}

.job-details {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.divider {
  background-color: #00000014;
  width: 100%;
  height: 1px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .icon-wrapper {
    height: 100%;
    vertical-align: middle;
    padding: 2px 0 0 8px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding: 56px 24px;
  }

  .text-body.bold-mob {
    font-weight: 500;
  }

  .jobs-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 20px;
  }

  .job-wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .job-details {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
  }

  .icon-wrapper {
    height: 100%;
    vertical-align: middle;
    padding: 2px 0 0 8px;
    display: none;
  }
}


