.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.splash {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.container {
  width: 1300px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.hero-hey-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Averta, sans-serif;
}

.h1-92px {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #000;
  font-size: 110px;
  line-height: 95px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.05em;
}

.h1-92px._50 {
  color: #fff;
  font-size: 98px;
}

.waving-hand {
  display: block;
  width: 98px;
  height: 98px;
  margin: auto auto auto 28px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.wave {
  text-align: center;
}

.h1 {
  position: static;
  margin-top: 22px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-size: 98px;
  line-height: 95px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.05em;
}

.paragraph-large {
  width: 70%;
  margin-top: 35px;
  margin-bottom: 0px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}

.paragraph-large.top {
  width: 70%;
  margin-top: 100px;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 28px;
}

.paragraph-large.bottm {
  margin-bottom: 85px;
}

.portfolio-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 1px solid hsla(0, 0%, 100%, 0.22);
}

.dribbble {
  width: 20px;
  height: 20px;
  margin-right: 0px;
  background-image: url('../images/Vector-6.svg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.5;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}

.dribbble:hover {
  background-image: url('../images/Vector-1.svg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
}

.behance {
  width: 26.666666666666668px;
  height: 16.666666666666668px;
  margin-right: 50px;
  background-image: url('../images/Vector-7.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.5;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}

.behance:hover {
  background-image: url('../images/Vector-3.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}

.email {
  display: none;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Averta, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 18px;
}

.email:hover {
  color: #fff;
}

.link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: hsla(0, 0%, 100%, 0.65);
  line-height: 40px;
}

.link:hover {
  color: #fff;
}

.link-2 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: hsla(0, 0%, 100%, 0.5);
}

.link-2:hover {
  color: #fff;
}

.link-2.mobile {
  display: none;
}

.portfolio-links-mobile {
  display: none;
  width: 100%;
  height: 50px;
  margin-top: 85px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 1px solid hsla(0, 0%, 100%, 0.22);
}

.button {
  padding: 20px 35px;
  border: 2px solid #000;
  border-radius: 300px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  font-family: Averta, sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.14px;
}

.button:hover {
  border-bottom: 2px solid #000;
  background-color: #000;
  color: #fff;
}

.button.call-to-action {
  margin-top: 0px;
  margin-bottom: 100px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  background-color: rgba(94, 161, 206, 0);
  color: #fff;
}

.button.call-to-action:hover {
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

.button.call-to-action.white {
  border-color: #fff;
  color: #fff;
}

.button.call-to-action.white:hover {
  background-color: #fff;
  color: #000;
}

.icon-font {
  margin-left: 15px;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.sticky-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 125vh;
  max-width: 1100px;
  margin: 200px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.left {
  position: -webkit-sticky;
  position: sticky;
  top: 350px;
  width: 50%;
  margin-bottom: 200px;
  padding-right: 120px;
}

.right {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: transparent;
}

.paragraph {
  opacity: 0.75;
  color: #fff;
}

.heading {
  margin-top: 150px;
  margin-bottom: 20px;
  color: #fff;
}

.card {
  margin-bottom: 200px;
  padding: 250px 50px 100px;
  border-radius: 20px;
  background-color: #000;
}

.spacer {
  height: 100vh;
  background-color: #000;
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Manrope, sans-serif;
  color: #6d7082;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.navigation-link:hover {
  color: #3b8fee;
}

.navigation-link.w--current {
  color: #99d715;
}

.navigation-link.active {
  color: #3b8fee;
  font-size: 15px;
  font-weight: 600;
}

.navigation {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  background-color: transparent;
  font-family: Averta, sans-serif;
  font-weight: 600;
}

.brand {
  margin-right: 44px;
}

.navigation-column-right {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.dropdown-link-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 22px;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-4:hover {
  background-color: #f8faff;
}

.dropdown-link-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 22px 16px;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-1:hover {
  background-color: #f8faff;
}

.icon-4 {
  margin-right: 5px;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #283338;
  font-size: 15px;
}

.navigation-column {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
}

.flowbase-logo {
  width: 132px;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  min-height: 85px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-column-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.icon-square {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.09);
}

.button-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #3b8fee;
  border-radius: 50px;
  background-color: #3b8fee;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  font-family: Manrope, sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.button-menu:hover {
  border: 2px solid #3b8fee;
  background-color: #fff;
  color: #3b8fee;
  font-weight: 700;
}

.button-menu.button-secondary {
  margin-top: 50px;
  padding: 20px 45px;
  border: 2px solid #3b8fee;
  background-color: transparent;
  color: #3b8fee;
  font-size: 16px;
  font-weight: 600;
}

.button-menu.button-secondary:hover {
  border-color: #3b8fee;
  background-color: #3b8fee;
  box-shadow: none;
  color: #fff;
}

.button-menu.button-secondary.showcase-button {
  display: block;
  margin-top: 0px;
}

.button-menu.button-secondary.showcase-button.showcase-button-tablet-desk {
  display: none;
}

.nav-link-details {
  color: rgba(40, 51, 56, 0.6);
  font-size: 14px;
}

.link-18 {
  display: block;
  margin-bottom: 15px;
  color: #283338;
  font-size: 15px;
  text-decoration: none;
}

.link-18:hover {
  color: #8c54ff;
}

.text-block-61 {
  font-size: 16px;
}

.dropdown-link-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 55px;
  padding: 16px 22px 20px;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-5:hover {
  background-color: #f8faff;
}

.nav-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navigation-dropdown {
  min-width: 140px;
}

.navigation-dropdown.w--open {
  left: -120px;
  max-height: 100vh;
  min-width: 350px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.text-block-62 {
  margin-bottom: 14px;
  color: #abaeaf;
  font-size: 14px;
  letter-spacing: 1px;
}

.dropdown-toggle {
  padding-right: 26px;
  padding-left: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dropdown-toggle:hover {
  color: #8c54ff;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 200px;
  padding-bottom: 0px;
  padding-left: 200px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-contents {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fafafb;
  background-image: url('../images/Group-29.png');
  background-position: 79% 56%;
  background-size: 543px;
  background-repeat: no-repeat;
}

.subtitle {
  font-family: Manrope, sans-serif;
  color: #484953;
  font-size: 20px;
}

.subtitle.subtitle-less-spacing {
  margin-bottom: 0px;
  color: #484953;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.subtitle.subtitle-less-spacing.role {
  margin-bottom: 0px;
}

.subtitle.subtitle-work-experience-date {
  margin-top: 35px;
  margin-bottom: 0px;
  color: rgba(72, 73, 83, 0.52);
  font-size: 16px;
}

.subtitle.paragraph-2 {
  font-size: 16px;
  line-height: 33px;
}

.subtitle.footer-subtitle {
  font-size: 42px;
}

.hero-title {
  margin-bottom: 50px;
  font-family: Manrope, sans-serif;
  color: #484953;
  font-size: 58px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.hero-title.mobile-tablet-show {
  display: none;
}

.purple-highlight {
  color: #3b8fee;
}

.contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contents.my-work-contents {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: transparent;
}

.contents.serrvices-contents {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: transparent;
  text-align: left;
}

.link-19 {
  color: #484953;
}

.heading-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Manrope, sans-serif;
  color: #484953;
  font-size: 40px;
  line-height: 58px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1.5px;
}

.heading-title.my-work-heading {
  margin-bottom: 0px;
  text-align: left;
}

.paragraph-2 {
  width: 75%;
  margin-bottom: 0px;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}

.paragraph-2.centred {
  width: 50%;
  margin-bottom: 100px;
  color: rgba(51, 51, 51, 0.7);
  text-align: center;
}

.me-pic {
  margin-bottom: 60px;
  border-radius: 200px;
  box-shadow: 0 7px 35px 1px rgba(0, 0, 0, 0.16);
}

.experience-section {
  height: 80vh;
}

.experience-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1100px;
  margin: auto;
  padding-right: 100px;
  padding-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fafafb;
}

.experience-grid {
  width: 100%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.experience-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  padding: 0px 50px 50px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fafafb;
}

.heading-2 {
  font-family: Manrope, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
}

.heading-2.placement {
  margin-top: 10px;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: 0px;
}

.div-block {
  position: static;
  left: 19%;
  top: 27%;
  right: auto;
  bottom: auto;
  z-index: 0;
  width: 300px;
  height: 300px;
  float: left;
  clear: left;
  border-radius: 300px;
  background-color: rgba(59, 143, 238, 0.25);
  box-shadow: 0 1px 300px 300px rgba(59, 143, 238, 0.25);
}

.my-work-section {
  height: 100%;
  background-color: #fff;
}

.services-icon {
  margin-bottom: 60px;
}

.services-grid {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.service-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 50px 65px -28px rgba(0, 0, 0, 0.07);
}

.service-block.desktop-hide {
  display: none;
}

.services-heading {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  color: #484953;
  font-size: 24px;
  line-height: 38px;
  font-weight: 600;
  letter-spacing: -0.7px;
}

.paragraph-3 {
  font-family: Manrope, sans-serif;
  color: rgba(51, 51, 51, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.services-section {
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafb;
  text-align: center;
}

.work-showcase-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.showcase-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image {
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 80px 100px -20px rgba(0, 0, 0, 0.08);
}

.showcase-bottom-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.showcase-button {
  display: none;
  margin-left: auto;
}

.showcase-button.tablet-desktop-show {
  display: block;
}

.showcase-heading {
  margin-top: 0px;
  font-family: Manrope, sans-serif;
  color: #484953;
  font-size: 34px;
  letter-spacing: -1.2px;
}

.showcase-subtitle {
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  color: rgba(84, 85, 95, 0.55);
  font-size: 20px;
}

.divder-line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.13);
  color: #000;
}

.hero-section-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 200px;
  padding-bottom: 0px;
  padding-left: 200px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 200px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-contents {
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fafafb;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.linked-in {
  margin-right: 50px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.behance-link {
  margin-right: 50px;
}

.dribbble-link {
  margin-right: 50px;
}

.h1-92px-2 {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Averta, sans-serif;
  color: #000;
  font-size: 110px;
  line-height: 95px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.05em;
}

.h1-92px-2.footer-h1-92 {
  margin-bottom: 55px;
  color: #fff;
  font-size: 92px;
  line-height: 109px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.lower-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 364px 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.behance-footer {
  width: 33.3%;
  margin-right: 0px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}

._1300px-container {
  display: block;
  width: 100%;
  max-width: 1300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.email-link {
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.left-lower-footer {
  width: 65%;
  height: 100%;
}

.right-lower-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navbar {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent;
}

.body {
  font-family: Manrope, sans-serif;
}

.nav-link {
  color: #484953;
  font-size: 15px;
  font-weight: 600;
}

.nav-link.active {
  color: #3b8fee;
}

.nav-link-2 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(72, 73, 83, 0.6);
  font-size: 15px;
  font-weight: 600;
}

.nav-link-2:hover {
  color: #484953;
}

.nav-link-3 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(72, 73, 83, 0.6);
  font-size: 15px;
  font-weight: 600;
}

.nav-link-3:hover {
  color: #484953;
}

.nav-link-4 {
  margin-right: 30px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(72, 73, 83, 0.6);
  font-size: 15px;
  font-weight: 600;
}

.nav-link-4:hover {
  color: #484953;
}

.nav-link-5 {
  padding-right: 45px;
  padding-left: 45px;
  border-radius: 300px;
  background-color: #484953;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.nav-link-5:hover {
  background-color: #3b8fee;
}

.brand-image {
  display: block;
  width: 125px;
  height: 100%;
  margin-top: 5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.brand-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.link-20 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3b90ee;
  text-decoration: none;
}

.link-20:hover {
  color: rgba(59, 144, 238, 0.68);
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 85px;
    padding-left: 85px;
  }

  .hero-hey-container {
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 5px;
    text-align: center;
  }

  .h1-92px._50 {
    font-size: 74px;
    line-height: 76px;
    text-align: center;
  }

  .waving-hand {
    width: 68px;
    height: 68px;
    margin-left: 15px;
  }

  .h1 {
    margin-top: 25px;
    font-size: 74px;
    line-height: 52px;
    text-align: left;
  }

  .paragraph-large.top {
    width: 100%;
    margin-top: 100px;
  }

  .paragraph-large.bottm {
    width: 100%;
    margin-bottom: 85px;
  }

  .portfolio-links {
    margin-top: 0px;
  }

  .email {
    display: block;
  }

  .link-2.mobile {
    display: none;
  }

  .portfolio-links-mobile {
    display: none;
  }

  .button.call-to-action {
    margin-top: 0px;
    font-size: 20px;
    text-align: left;
  }

  .button.call-to-action {
    font-size: 18px;
    text-align: left;
  }

  .button.call-to-action.white {
    text-align: center;
  }

  .navigation-link {
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .navigation-link.active {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navigation {
    display: block;
  }

  .navigation-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .button-menu.button-secondary.showcase-button {
    display: block;
    margin-right: 0px;
    margin-left: auto;
    text-align: left;
  }

  .hero-section {
    padding-right: 50px;
    padding-left: 50px;
  }

  .hero-contents {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }

  .subtitle {
    text-align: left;
  }

  .subtitle.footer-subtitle {
    margin-bottom: -16px;
    font-size: 32px;
    text-align: left;
  }

  .hero-title {
    display: none;
  }

  .hero-title.mobile-tablet-show {
    display: block;
    text-align: left;
  }

  .hero-title.footer-email-link {
    display: block;
    font-size: 46px;
    text-align: left;
  }

  .purple-highlight {
    font-size: 48px;
    line-height: 36px;
    text-align: center;
  }

  .purple-highlight._40px {
    font-size: 40px;
  }

  .purple-highlight.hero {
    font-size: 58px;
  }

  .contents {
    max-width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contents.footer-contents {
    height: auto;
  }

  .heading-title {
    text-align: center;
  }

  .heading-title.left-weighted {
    text-align: left;
  }

  .paragraph-2 {
    text-align: left;
  }

  .paragraph-2.centred {
    width: 75%;
    text-align: center;
  }

  .services-grid {
    display: none;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .service-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .service-block.desktop-hide {
    display: block;
  }

  .showcase-bottom-contents {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .showcase-button {
    display: none;
  }

  .showcase-button.tablet-desktop-show {
    display: block;
  }

  .showcase-heading {
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 35px;
  }

  .showcase-subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .footer-section {
    height: auto;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  .footer-contents {
    height: auto;
  }

  .footer-links {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .linked-in {
    margin-right: 0px;
  }

  .h1-92px-2.footer-h1-92 {
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
  }

  .lower-footer {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .footer {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #000;
  }

  .behance-footer {
    display: none;
  }

  ._1300px-container {
    width: 100%;
    text-align: left;
  }

  ._1300px-container.footer-container {
    text-align: center;
  }

  .email-link {
    text-align: left;
  }

  .left-lower-footer {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }

  .right-lower-footer {
    display: none;
  }

  .navbar {
    padding-right: 100px;
    padding-left: 100px;
  }

  .nav-link.active {
    padding-bottom: 25px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .nav-link-2 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .nav-link-3 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .nav-link-4 {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-left: 0px;
  }

  .nav-link-5 {
    text-align: center;
  }

  .nav-menu-2 {
    padding: 50px 100px;
    background-color: rgba(72, 73, 83, 0.05);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    color: #fff;
  }

  .menu-button {
    border-radius: 300px;
  }

  .menu-button.w--open {
    border-radius: 300px;
    background-color: #484953;
    color: #fff;
  }

  .link-20 {
    font-size: 46px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .h1-92px {
    font-size: 68px;
  }

  .h1 {
    font-size: 74px;
  }

  .paragraph-large.bottm {
    margin-bottom: 85px;
  }

  .link-2.mobile {
    display: none;
  }

  .portfolio-links-mobile {
    display: none;
  }

  .button.call-to-action {
    margin-top: 0px;
  }

  .brand {
    margin-right: 0px;
    padding-left: 0px;
  }

  .navigation-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navigation-right {
    display: none;
  }

  .navigation-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button-menu.button-secondary.showcase-button {
    margin-top: 0px;
    margin-bottom: 35px;
    text-align: center;
  }

  .subtitle {
    display: none;
  }

  .subtitle.footer-subtitle {
    display: block;
    font-size: 28px;
    text-align: left;
  }

  .subtitle.mobile-display {
    display: block;
    color: rgba(72, 73, 83, 0.54);
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }

  .hero-title {
    text-align: left;
  }

  .hero-title.mobile-tablet-show {
    font-size: 36px;
    line-height: 64px;
    text-align: left;
  }

  .hero-title.footer-email-link {
    margin-top: 0px;
    font-size: 36px;
    line-height: 105px;
    font-weight: 700;
    text-align: left;
  }

  .purple-highlight {
    font-size: 38px;
    line-height: 39px;
    text-align: left;
  }

  .purple-highlight._40px {
    font-size: 36px;
  }

  .purple-highlight.hero {
    font-size: 36px;
  }

  .contents {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contents.serrvices-contents {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading-title {
    font-size: 36px;
    text-align: left;
  }

  .paragraph-2 {
    width: 100%;
    text-align: left;
  }

  .paragraph-2.centred {
    width: 100%;
    text-align: left;
  }

  .service-block.desktop-hide {
    width: 100%;
  }

  .services-heading {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .paragraph-3 {
    font-size: 16px;
  }

  .work-showcase-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .showcase-bottom-contents {
    margin-bottom: 35px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .showcase-bottom-contents.first {
    margin-bottom: 0px;
  }

  .showcase-title-subtitle {
    width: 100%;
  }

  .showcase-button {
    display: block;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .showcase-button.display-mobile {
    display: block;
  }

  .showcase-button.tablet-desktop-show {
    display: none;
  }

  .footer-section {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .footer-links {
    margin-top: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .h1-92px-2 {
    font-size: 68px;
  }

  .h1-92px-2.footer-h1-92 {
    font-size: 48px;
    line-height: 59px;
  }

  .footer {
    padding-right: 50px;
    padding-left: 50px;
  }

  .link-20 {
    font-size: 38px;
    line-height: 85px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .h1-92px {
    font-size: 41px;
    line-height: 67px;
  }

  .h1-92px._50 {
    font-size: 60px;
  }

  .h1 {
    margin-top: 12px;
    font-size: 60px;
    line-height: 56px;
  }

  .paragraph-large.top {
    margin-top: 50px;
    font-size: 20px;
    line-height: 29px;
  }

  .paragraph-large.bottm {
    margin-bottom: 85px;
    font-size: 20px;
    line-height: 29px;
  }

  .portfolio-links {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .behance {
    margin-right: 50px;
  }

  .email {
    display: block;
    margin-right: 0px;
    text-align: center;
  }

  .link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .link-2.mobile {
    display: block;
    text-align: center;
  }

  .portfolio-links-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px none #000;
  }

  .button.call-to-action {
    margin-top: 0px;
    margin-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .button.call-to-action {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .button.call-to-action.white {
    display: none;
  }

  .button-menu.button-secondary {
    font-size: 16px;
  }

  .hero-section {
    height: 53vh;
    padding-right: 0px;
    padding-left: 0px;
  }

  .hero-contents {
    border-radius: 0px;
  }

  .subtitle.footer-subtitle {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
  }

  .subtitle.mobile-display {
    color: rgba(72, 73, 83, 0.51);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .hero-title.mobile-tablet-show {
    font-size: 30px;
    line-height: 46px;
    text-align: left;
  }

  .hero-title.footer-email-link {
    margin-top: -25px;
    margin-bottom: 20px;
    line-height: 73px;
  }

  .purple-highlight {
    font-size: 22px;
    text-align: center;
  }

  .purple-highlight._40px {
    font-size: 30px;
  }

  .purple-highlight.hero {
    font-size: 30px;
  }

  .contents {
    height: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contents.serrvices-contents {
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contents.footer-contents {
    height: auto;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 0px;
  }

  .heading-title {
    width: 85%;
    font-size: 30px;
    line-height: 42px;
    text-align: left;
  }

  .heading-title.left-weighted {
    line-height: 41px;
    text-align: left;
  }

  .paragraph-2 {
    color: rgba(72, 73, 83, 0.57);
    font-size: 17px;
    line-height: 33px;
    text-align: left;
  }

  .paragraph-2.centred {
    width: 85%;
    color: rgba(72, 73, 83, 0.57);
    text-align: left;
  }

  .services-icon {
    margin-bottom: 35px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .service-block.desktop-hide {
    width: 100%;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 50px 65px -28px rgba(0, 0, 0, 0.07);
  }

  .services-heading {
    font-size: 20px;
  }

  .paragraph-3 {
    font-size: 17px;
    line-height: 33px;
  }

  .services-section {
    text-align: left;
  }

  .image {
    margin-bottom: 25px;
  }

  .showcase-bottom-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .showcase-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .showcase-heading {
    margin-bottom: 50px;
  }

  .footer-section {
    height: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .footer-contents {
    height: auto;
  }

  .footer-links {
    margin-top: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .behance-link {
    margin-right: 25px;
  }

  .dribbble-link {
    margin-right: 25px;
  }

  .h1-92px-2 {
    font-size: 41px;
    line-height: 67px;
  }

  .h1-92px-2.footer-h1-92 {
    display: none;
    font-size: 48px;
  }

  .lower-footer {
    width: 100%;
    margin-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }

  .footer {
    height: auto;
    padding: 25px;
  }

  ._1300px-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }

  .email-link {
    text-align: left;
  }

  .left-lower-footer {
    width: 100%;
  }

  .navbar {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav-menu-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .link-20 {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-aa878e86-5a9d-3c7f-fae1-42e9114c2a99-667d5d0a {
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Thin.otf') format('opentype'), url('../fonts/Averta-Extrathin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta extra';
  src: url('../fonts/Averta-Extra-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}