body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
body {
	font-family: "Lato", sans-serif;
	color: #222;
	font-weight: 400;
	background: #f1f1f1;
}

/* Header Styles */
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 93%;
    background: url(../img/background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* Header Styles END */

/* Services Styles */
.service-title {
	padding-top: 20px;
	width: 100%;
	padding-bottom: 20px;
	color: #fff;
	background: #e75555;
}
.service {
	width: 100%;
	color: #fff;
	background: linear-gradient (left, #111 50%, #333 50%);
	background: -webkit-linear-gradient(left, #111 50%, #333 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #111 50%, #333 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #111 50%, #333 50%); /* For Firefox 3.6 to 15 */
}

/* Responsive Service */
@media only screen and (min-width: 320px) {
	.service {
		background: #f1f1f1;
		margin-top: 70px;
	}
}

@media only screen and (min-width: 768px) {
	.service {
		background: #f1f1f1;
		margin-top: 70px;
	}
}

@media only screen and (min-width: 1200px) {
	.service {
		margin-top: 0px;
		background: linear-gradient (left, #111 50%, #333 50%);
		background: -webkit-linear-gradient(left, #111 50%, #333 50%); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(left, #111 50%, #333 50%); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(left, #111 50%, #333 50%); /* For Firefox 3.6 to 15 */
	}
}
/* Responsive END */

.service-i {
	text-align: center;
  	width: 320px;
  	font-size: 15px;
  	margin: 0 auto;
}
/* Service END */

/* About Styles */
.about-title {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #111;
	margin: 0 auto;
	background: #fff;
}

@media only screen and (min-width: 320px) {
	.about {
		margin: 0 auto;
		text-align: center;
		border: none;
	}
	.about-main {
		margin: 0 auto;
		text-align: center;
		border: none;
	}
}

@media only screen and (min-width: 768px) {
	.about {
		margin: 0 auto;
		text-align: center;
		border: none;
	}
	.about-main {
		margin: 0 auto;
		text-align: center;
		border: none;
	}
}


@media only screen and (min-width: 320px) {
	.about {
		margin: 0 auto;
		text-align: center;
		border: none;
	}
	.about-main {
		margin: 0 auto;
		text-align: center;
		border: none;
	}
}

@media only screen and (min-width: 1200px) {
	.about {
		margin-left: -24px;
	}
}


@media only screen and (min-width: 1745px) {
	.about {
		text-align: left;
		margin-left: -382px;
	}
	.about-main {
		text-align: left;
		border-left: 60px solid #e75555;
	}
}
.about {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background: #f1f1f1;
	color: #bdbdbd;
}

.about-main {
	text-align: left;
	padding: 50px;
	border-left: 60px solid #e75555;
	background: #111;

}

.about-p {
	width: 500px;
}

.about-main .about-header {
	color: #fff;
}

.about a {
	color: #e75555;
	text-decoration: none;
}

.about a:hover,
.about a:focus,
.abvout a:active {
	font-weight: 900;
}
/* About END */

/* Social Styles */
.social {
	padding: 50px;
	background: #111;
	color: #fff;
}

.img-fb {
	margin-right: 15px;
}

.img-db {
	margin-right: 15px;
}
/* Social END */

.footer-bm {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #e75555;
	color: #fff;
}

/* Button Styles */
.btn-red {
	padding: 10px 15px;
	background-color: #e75555;
	color: #fff;
	margin-right: 5px;
	border-radius: 0px;
	transition: all 0.5s ease 0s;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
	padding: 10px 25px;
	background-color: #c43a3a;
	color: #fff;
	border-radius: 0px;

}

.btn-blue {
	padding: 10px 15px;
	margin-left: 5px;
	background-color: #00bbdb;
	color: #fff;
	border-radius: 0px;
	transition: all 0.5s ease 0.1s;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
	padding: 10px 25px;
	border-radius: 0px;
	background-color: #1e839c;
	color: #fff;
}
/* Button Styles END */

/* Footer */
.mastfoot {
    color: #999;
    color: rgba(255,255,255,.5);
}
.inner {
    padding: 30px;
}
/* Footer END */


/* General Styling */
.dropper {
	padding-bottom: 50px;
}
/* General Styling END */