body {
	font-family: "Lato", sans-serif;
	background-color: #fff;
	color: #222;
	margin-top: 30px;
}
.vertical-center {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-left: -15px;
	background-color: #f1f1f1;
	vertical-align: middle;
}
.vertical-center h3 {
	vertical-align: middle;
}

.btn-red {
	padding: 10px 20px;
	background-color: #e75555;
	color: #fff;
	border-radius: 0px;
	transition: all 0.5s ease 0s;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
	padding: 10px 20px;
	background-color: #c43a3a;
	color: #fff;
	border-radius: 0px;

}

.btn-blue {
	padding: 10px 20px;
	background-color: #00bbdb;
	color: #fff;
	border-radius: 0px;
	transition: all 0.5s ease 0s;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
	padding: 10px 20px;
	background-color: #1e839c;
	color: #fff;
	border-radius: 0px;
}