::-webkit-scrollbar-track{
	border-radius: 0px;
	background-color: #303030;
	box-shadow: inset 0 0 8px rgba(3,3,3,0.3);
	-moz-box-shadow: inset 0 0 8px rgba(3,3,3,0.3);
	-webkit-box-shadow: inset 0 0 8px rgba(3,3,3,0.3);
}
::-webkit-scrollbar{
	width: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: inset 0 0 8px rgba(3,3,3,0.3);
	-moz-box-shadow: inset 0 0 8px rgba(3,3,3,0.3);
	-webkit-box-shadow: inset 0 0 8px rgba(3,3,3,0.3);
}