::-webkit-scrollbar-track{
	border-radius: 0px;
	background-color: #266f4f;
	box-shadow: inset 0 0 8px rgba(25,25,25,0.3);
	-moz-box-shadow: inset 0 0 8px rgba(25,25,25,0.3);
	-webkit-box-shadow: inset 0 0 8px rgba(25,25,25,0.3);
}
::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 0px;
	background-color: #5de2a8;
	box-shadow: inset 0 0 8px rgba(25,25,25,0.3);
	-moz-box-shadow: inset 0 0 8px rgba(25,25,25,0.3);
	-webkit-box-shadow: inset 0 0 8px rgba(25,25,25,0.3);
}