html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

body {
	padding: 0px !important;
	box-sizing: border-box;
	margin: 0px;
	background-color: #eeeeee;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.home {
	width: 100%;
    height: 100%;
    position: relative;
    display: table;
    font-size: 10px;
    letter-spacing: -0.4px;
    color: #888888;
}

.home h1 {
	font-weight: 300 !important;
}

.home p {
	padding: 0px !important;
	margin: 0px !important;
	font-size: 13px;
}

/* Text Alignment */
.text-alignment {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
