@charset "UTF-8";
/* CSS Document */

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.navbar-default {
	background-color: #333333;
}
.templates {
  padding-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  color: #000;
  border-bottom: 2px solid #eee;
  background-color: transparent;
}
.page1 {
  color: #676767;
}
.box {
    padding: 30px 25px;
    margin-bottom: 30px;
    color: #3c3c3c;
    background-color: #eeeeee;
    text-align: center;
}
.navbar-toggle {
	background-color: #000000; 
}
.jumbotron {
	background-color: #fff;
	/*margin-top: 50px;*/
	text-align:center;
}
.jumbotron1 {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.feature1 {
    padding: 30px 25px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #258de5;
    border-bottom: 5px solid #2d78b8;
}
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
.block1 {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-right: 10%;
  margin-bottom: 30px;
  margin: auto 0px;
  color: inherit;
  background-color: #eee;
}
.block2 {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.block3 {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
p1 {
	font-size: 15px;
}
a1 {
	color: black;
}
.footer-css {
	margin-top: 20px;
}
.section1 {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 10px;
  margin-top: -30px;
  text-align:center;
  color: inherit;
  background-image: url(../images/3.png);
  background-position:center;
  background-size: 2000px;
  background-repeat:no-repeat;
}
.margin {
	margin-top: 50px;
}
.header {
	color: white;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.features {
	background-color: #eee;
	padding-top: 30px;
	padding-bottom: 30px;
}