html,
body {
    width: 100%;
    height: 100%;
}

body {
  background-color: #f1f1f1;
  font-family: 'europa', sans-serif
}

/* Misc */
::selection {
  background: #ff8e8e; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff8e8e; /* Gecko Browsers */
}
/* Misc */

/* Nav */
.navbar-default {
  margin-bottom: 0px;
  padding: 10px 30px;
  background-color: transparent;
  font-weight: 100;
  font-size: 10pt;
  border: none;
}

@media screen and (min-width: 300px) {
  .navbar-default {
    background-color: rgba(241,241,241,0.95);
  }
}

@media screen and (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  }
}

.navbar-default .navbar-brand {
  color: #9DABBA;
  transition: all 0.5s ease;
  font-weight: 100;
  font-size: 17pt;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4ec89b;
  transition: all 0.5s ease;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #9DABBA;
  font-weight: 100;
  transition: all 0.5s ease;
  font-size: 12pt;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #4ec89b;
  transition: all 0.5s ease;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4ec89b;
  background-color: transparent;
  font-weight: 100;
  transition: all 0.5s ease;
  font-size: 12pt;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #4ec89b;
  transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar:focus,
.navbar-default .navabr-toggle .icon-bar:active {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #4ec89b;
  background-color: transparent;
}


.dropdown-menu > li > a {
  display: block;
  padding: 20px 20px;
  font-weight: 100;
  clear: both;
  letter-spacing: 0.8px;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  background-color: #33a27a;
  transition: all 0.5s ease;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 150px;
  font-weight: 100;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  color: #fff;
  background-color: #4ec89b;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 0px;
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, .2);
          box-shadow: 0 10px 12px rgba(0, 0, 0, .2);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9DABBA;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
    color: #4ec89b;
    transition: all 0.5s ease;
  }
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    border: none;
    background: transparent;
}

.navbar-default .navbar-nav > .disabled > a, 
.navbar-default .navbar-nav > .disabled > a:hover, 
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #9DABBA;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
}
/* Nav */
/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    color: #222;
    height: 100%;
    background: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-center {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.header-p {
  font-weight: 500;
}

a {
    color: #e57777;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #d26969;
    text-decoration: none;
}
/* Header */

/* About */
.about {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: transparent;
  border-left: 5px solid #e57777;
}
/* About */