body {
	font-family: "Lato", sans-serif;
}

/* Header */
.hero-header {
	padding-top: 350px;
	padding-bottom: 350px;
	background-image: url(../img/background.png);
}
.hero-header h1 {
	color: #fff;
	text-align: center;
}
/* Header */

.hero-quote {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	max-width: none;
	background-color: #fff;
	box-sizing: border-box;
}
.hero-quote h1 {
	color: #444;
	width: 100%;
	max-width: none;
	text-align: center;
}
.hero-quote h4 {
	color: #444;
	max-width: none;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	iframe {
		width: 100%
		max-width: 900px;
	}
}